* {
  box-sizing: border-box;
}
:root {
  /* tekstiosa nimes vabalt valitud */
  --variable: 50vw;
}
header {
  position: sticky;
  top: 0;
}
section {
  position: relative;
}
  span {
    background-color: white;
    /* display: block; (surub teised asjad eemale)*/
    width: var(--variable)
    height: 10vw;
  }

body {
/* background-color: #fcdef4; */
/* margin: 0;
padding: 0;
background-color: black; */

}
/* see järgnev näitab klassi ja seob sellega mingit stiili: */
/* .heading1 {
/* font-size: 30px; */
/* font-size: 3em; */
/* position: relative; */
/* left: 50px; */
/* margin: 50px; */
/* } */
/* ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

} */
/* #heading2 {
font-size: 1rem
} */
/* p {
  color: white;
  position: relative;

}
h1 {
  color: white;
}
h2 {
  color: white;
} */
/* .pilt {
  /* width: 100%; */
  /* margin: 10vw; */
  /* top, right, bottom, left */
  /* background-color: white;
  border: 3px solid black;
  margin: 10vw 10vw 10vw 10vw;
  padding: 5vw;
  width: 80vw;
  height: auto;
} */

/* #pilt {
position: fixed;
top: 100px;
right: 0;
margin: 50px;
width: 40vw;
} */

/* #pilt2 {
position: sticky;
top: 10;
margin: 100;
width: 60vw;
}
.hello {
  /* display: none; */
  /* opacity: 1;
} */
/* .fixed {
  position: fixed;
}
.bottom-left {
  bottom: 50px;
  left: 50px;
} */
/* .tooltip {
  background: rgba(0,0,0,0.5);
}
.p6 {
  display: block;
  background-image: url(pilt.jpg);
  background-size: 50px;
  background-repeat: no-repeat;
}
.button { */
  /* position: static;
  width: 59px;
  height: 18px;
  left: calc(50% - 59px/2);
  top: 11px;

  background: #54A547; */
  /* display: flex;
flex-direction: row;
align-items: flex-start;
padding: 11px 0px 0px 53px;

position: absolute;
left: 100px;
width: 165px;
height: 40px;

background: #5734E0;
} */

/* .button a{
  font-family: Roboto, sans-serif;
  text-decoration: none;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;
text-align: center;
color: #FFFFFF;


} */
