@keyframes spin {
        0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

.flex-item {
  flex-basis: auto;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #A3A3A3;
width: 100%;
/* border-radius: 0px;
margin: 0;
padding: 0; */
max-width: 100%;
}

header {
  position: relative;
  top: 0px;
  width: 200vh;
  max-width: 100%;
padding: 0px 0px 80px 0px;
animation-duration: 3s;
}

a {
  text-decoration: none;
}

.logo {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  margin: 20px 0px 30px 0px;
}

.logo:hover {
  animation: spin 3s linear infinite;
}

.col-1 {
  width: 100%;
  flex-basis: auto;
}

.col-1 a{
  font-family: "Bahiana";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.3em;
  color: #C4C4C4;

  width: 85px;
  height: 35px;
  padding: 2px 10px 2px 10px;
  background-color: black;
}


.menuu {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
 padding: 0.5em;
 width: 100%;
 position: relative;
 margin: 10px 0px 20px 0px;
}

.col-2 {
  width: 100%;
}

.menuu a{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  color: black;
  /* animation-duration: 1s; */
}

.menuu a:hover {
  color: #63625F;
}

#projects {
  width: 80px;

}
#about {
  width: 80px;

}
#contact {
  width: 80px;

}


.keskmine1 {
  display: flex;
  justify-content: space-around;
}

.col-5 {
  width: 100%;
  padding: 20px 20px 50px 20px;
  background: #C4C4C4;
  max-width: 800px;
}

.col-5 a{
  height: 15px;
  display: block;
font-size: 17px;
text-align: center;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 200;
letter-spacing: 0.1em;

line-height: 15px;
text-decoration: none;
color: black;
}

#prillid {
  /* position: absolute; */
  display: block;
width: 100%;
max-width: 700px;
margin: 40px auto 0 auto;
opacity: 0.5;
transition: opacity 1s ease-in;
z-index: 5;
}

#prillid:hover {
  opacity: 1;
}

/* ALUMINE OSA */

.tekstiosa {
  display: flex;
  position: relative;
justify-content: center;
/* width: 100%; */
height: 14px;
text-align: center;

font-family: Acumin Pro;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.09em;
margin-top: 130px;
}

section {
  height: 500px;
  width: 100%;
}

.pildiosa {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  /* margin-top: 190px; */
}

.col-6 {
  width: 33.3%;
  padding: 3%;
  flex-basis: auto;
}

.col-6 img {
  height: auto;
  width: 100%;
}


.pealkirjad {
  font-family: Acumin Pro;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 17px;
letter-spacing: -0.01em;
text-align: center;
color: #000000;
text-decoration: none;
}


.alumineosa1 {
  display: flex;
  justify-content: center;
 width: 100%;
 padding: 50px;
 position: relative;
}


.col-7 {
  font-family: Acumin Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.095em;
  text-align: center;
  color: black;
}

#CR {
  width: 150px;
  height: 16px;

}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .col-5 {
    padding: 10px;
  }
}
