@keyframes animation {
  0%
}

* {
  box-sizing: border-box;
}
body {
  background-color: #A3A3A3;
width: 100%;
border-radius: 0px;
}
.recc {
  position: absolute;
width: 100px;
height: 39px;
left: 675px;
top: 23px;

background: #000000;
}
.Laving {
  position: absolute;
width: 65px;
height: 23px;
left: 692px;
top: 12px;

font-family: "Bahiana";
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */

letter-spacing: 0.3em;

color: #C4C4C4;
}
header {
  position: sticky;
  top: 0;
}
.menuu a {
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
text-align: left;
text-decoration: none;
color: #243D2B;
animation-duration: 1s;
/* transition: all 2s; */
}
.menuu a:hover {
  color: #63625F;
    animation: animation 1s;
}
#projects {
  position: absolute;
  width: 65px;
  height: 15px;
  left: 567px;
  top: 108px;
}
#about {
  position: absolute;
  width: 45px;
  height: 15px;
  left: 699px;
  top: 108px;
}
#contact {
  position: absolute;
  width: 60px;
  height: 15px;
  left: 813px;
  top: 108px;
}
.square {
  position: absolute;
  width: 866px;
height: 642px;
left: 290px;
top: 261px;

background: #C4C4C4;
}
.keskmine {
  width: 1000px;
}

#latest {
  position: absolute;
  width: 100px;
  height: 15px;
  left: 679px;
  top: 286px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
text-decoration: none;
text-align: center;

color: #243D2B;
}

h2 {
  position: absolute;
width: 68px;
height: 15px;
left: 373px;
top: 825px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 15px;
}

h3 {
  position: absolute;
width: 654px;
height: 150px;
left: 385px;
top: 730px;

font-family: Cormorant Garamond;
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 64px;
/* or 100% */

text-align: center;
letter-spacing: -0.05em;
}


#prillid {
  position: absolute;
width: 700px;
height: 467.11px;
left: 373px;
top: 351px;
opacity: 0.5;
}
#prillid:hover {
opacity: 1;
}
.tekstiosa {
  position: absolute;
width: 104px;
height: 14px;
left: 665px;
top: 1090px;

font-family: Acumin Pro;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.09em;
}

#karl {
  position: absolute;
width: 371px;
height: 247.46px;
left: 57px;
top: 1218px;
}

#kivi {
  height: 247.4600067138672px;
width: 371px;
left: 534px;
top: 1218px;
border-radius: 0px;

position: absolute;
width: 371px;
height: 247.46px;
left: 534px;
top: 1218px;
}

#kott {
border-radius: 0px;
position: absolute;
width: 371px;
height: 247.46px;
left: 1011px;
top: 1218px;
}

.pealkirjad a{
  font-family: Acumin Pro;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 17px;
letter-spacing: -0.01em;
text-align: center;
color: #000000;
text-decoration: none;
}

#GW {
  position: absolute;
  width: 55px;
  height: 17px;
  left: 58px;
  top: 1481px;
}
#CC {
  position: absolute;
width: 90px;
height: 17px;
left: 534px;
top: 1484px;
}
#JV {
  position: absolute;
width: 70px;
height: 17px;
left: 1011px;
top: 1484px;
}
#CR {
  position: absolute;
  width: 180px;
  height: 13px;
  left: 58px;
  top: 1755px;

  font-family: Acumin Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.095em;
}
#Contact2 {
  position: absolute;
width: 57px;
height: 13px;
left: 317px;
top: 1755px;

font-family: Acumin Pro;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 13px;
letter-spacing: 0.095em;
}
#LA {
  position: absolute;
width: 137px;
height: 16px;
left: 58px;
top: 1792px;

font-family: Acumin Pro;
font-style: normal;
font-weight: normal;
font-size: 13.5px;
line-height: 16px;
}
#email a{
  position: absolute;
width: 144px;
height: 16px;
left: 317px;
top: 1805px;

font-family: Acumin Pro;
font-style: normal;
font-weight: normal;
font-size: 13.5px;
line-height: 16px;
color: black;
}
#email a:hover{
  color: #B5B3AA;
}
#omm {
  position: absolute;
width: 116px;
height: 16px;
left: 895px;
top: 1751px;

font-family: Acumin Pro;
font-style: normal;
font-weight: normal;
font-size: 13.5px;
line-height: 16px;

}
.container {
  display: flex;
  justify-content: space-between;
}
